html {
  font-size: 14px;
}
:root {
  --primaryColor: #dbd9d9;
  --secondarycolor: #fefefe;
  --tertiarycolor: #113e21;
  --fourth-color: #704c0d;
  --font-size-large: 2.5rem;
  --font-size-medium: 1frem;
  --font-size-small: 1rem;
  --font-weight-bold: 800;
  --font-weight-medium: 600;
  --font-weight-light: 400;
  --color1: #fff;
  --color2: #181818;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "open sans", sans-serif, verdana;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;

  background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  color: black;
}
header {
  position: fixed;
  top: -15px;
  width: 100%;
}
header h1 {
  color: white;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}
.logo img {
  width: 40px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

#welcome-section {
  margin: 0;
  margin-top: 70px;
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-section h1 {
  margin: 0;
  padding: 0;
  text-align: unset;
  font-size: 3rem;
}
#welcome-section p {
  animation: fade-in 3s alternate forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

#projects {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  gap: 1.2rem;
  margin-inline: auto;
  place-items: center;
}
#projects p {
  text-align: center;
}
#projects img {
  width: 300px;
  aspect-ratio: 1.5;
  border-radius: 1rem;
  border: 2px solid;
}
#projects img:hover {
  animation: scale-up 500ms ease-in-out alternate forwards;
}
@keyframes scale-up {
  100% {
    transform: scale(1.1);
  }
}
#services {
  width: 100vw;
  margin: 0;
  background-color: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 0.7rem;
  gap: 2rem;
}
#services p {
  text-align: center;
}
.service:hover {
  animation: slide-up 500ms ease-in-out alternate forwards;
}
@keyframes slide-up {
  100% {
    transform: translateY(-15px);
    box-shadow: 0 0 15px black;
  }
}
#services h1 {
  text-align: center;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 95%;
  max-width: 800px;
}
.service {
  max-width: 300px;
  aspect-ratio: 1;
  border: 2px solid var(--tertiarycolor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: ;
  padding-top: 0;
}
h1:not(header h1) {
  font-size: var(--font-size-large);
  text-align: center;
}
.service h3 {
  margin-top: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--tertiarycolor);
  color: white;
  font-size: ;
}
.service.two {
  border: 3px solid var(--fourth-color);
}
.service.two h3 {
  background-color: var(--fourth-color);
}
.service ul {
  list-style-type: circle;
}
.service li {
  padding: 0.5rem;
}
#skills {
  width: 100vw;
  margin: 0;
  background-color: ;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#skills h1 {
  font-size: 2.5rem;
  text-align: center;
}
#skills i {
  font-size: 2.8rem;
}
#contacts {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}
#contacts p {
  text-align: center;
}
#contacts h1 {
  font-size: 2.3rem;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 1rem;
}
.social-icons i {
  font-size: 2.5rem;
}
.social-icons i:hover {
  transform: scale(1.2);
}
footer {
  background-color: rgb(37, 34, 34);
  width: 100%;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10rem;
}
footer p {
  color: white;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  width: 80%;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-inline: auto;
}
footer a {
  color: white;
  text-decoration: none;
}
@media (max-width: 720px) {
  :root {
    --font-size: 1.7rem;
  }
  #welcome-section h1 {
    font-size: 2.6rem;
  }
  #skills h1,
  #contacts h1 {
    font-size: var(--font-size);
  }
  h1:not(header h1) {
    font-size: var(--font-size);
    text-align: center;
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-inline: auto;
    width: 80%;
  }
  .service {
    max-width: 250px;
    aspect-ratio: 1.2;
  }
  #projects img {
    width: min(210px, 50vw);
  }
}
@media (max-width: 480px) {
  #welcome-section h1 {
    font-size: 2rem;
  }
  #skills i {
    font-size: 2rem;
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-inline: auto;
    width: 80%;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-inline: auto;
    width: 80%;
  }
  #services {
    width: 100vw;
    margin: 0;
    background-color: ;
    display: block;
  }
  #projects {
    width: 100vw;
    margin: 0;
    display: block;
    margin-top: -5rem;
  }
  #projects img {
    width: min(280px, 70vw);
    border-radius: 1rem;
    border: 2px solid;
    margin-inline: auto;
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    margin-top: 1rem;
  }
  section h1 {
    font-size: 1.5rem;
  }
  #skills {
  }
}
